:root {
  color-scheme: dark light;
  --fire: linear-gradient(to bottom right, #ff6c87, #fc7246);
}

.primary-text-color {
  background: var(--fire);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* scale effect */
.scale-effect {
  transition: all 0.5s ease;
}
.scale-effect:hover {
  transform: scale(1.07);
}
