:root {
  color-scheme: dark light;
  --fire: linear-gradient(to bottom right, #ff6c87, #fc7246);
}

.primary-text-color {
  background: var(--fire);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange {
  color: #e58c33;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* scale effect */
.scale-effect {
  transition: all 0.5s ease;
}
.scale-effect:hover {
  transform: scale(1.07);
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.bg-info-soft {
  background-color: rgba(14, 165, 233, 0.1) !important;
  color: #0ea5e9 !important;
}

.filterButton {
  color: white;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.password-meter {
  height: 5px;
  margin-top: 10px;
}
