.topic-tag-list {
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

@media (max-width: 768px) {
  .topic-tag-list {
    width: 90vw !important;
  }
}
