.stat {
  display: inline-grid;
  column-gap: 1rem;
}

.stat-svg {
  grid-column-start: 2;
  grid-row: 1 / 4;
  place-self: center;
}

@media (max-width: 992px) {
  .stat {
    border: 0 !important;
  }
}
