.inner{
    width: max-content;
    animation: loop var(--duration) linear infinite var(--direction) ;
}


@keyframes loop {
    0% {
        transform: translateX(0)
    }
    to {
      transform: translateX(calc(-50% - 0.5rem));

    }
  }
